{
    "presets": [ "module:metro-react-native-babel-preset" ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            { "legacy": true }
        ],
        "babel-plugin-parameter-decorator",
        [
            "module-resolver",
            {
                "root": [ "./" ],
                "extensions": [
                    ".ios.ts",
                    ".android.ts",
                    ".ios.tsx",
                    ".android.tsx",
                    ".ts",
                    ".tsx",
                    ".json",
                    ".native.ts",
                    ".native.tsx",
                ],
                "alias": {
                    "^~(.+)": "./src/\\1"
                }
            }
        ]
    ]
}
